:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 244, 246, 248;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: rgb(var(--background-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

/* Smooth transition for MUI Paper and Cards */
.mui-transition {
  transition: all 0.3s ease-in-out;
}